<div class="row">
  <div class="col-lg-4 mb-4 save-form-container fade show">
    <app-save-note-form
      [noteForSave]="noteForSave"
      (handleDisplayFormEvent)="handleDisplayForm($event)"
      (addNoteEvent)="addNote($event)"
      (editNoteEvent)="editNote($event)"
    ></app-save-note-form>
  </div>
  <div [ngClass]="showForm ? 'col-lg-8' : 'col-lg-12'">
    <app-notes-list
      [showForm]="showForm"
      [notes]="notes"
      (setNoteForSaveEvent)="setNoteForSave($event)"
      (setNoteForDeleteEvent)="setNoteForDelete($event)"
    ></app-notes-list>
  </div>
      <app-confirm-delete-note
        [noteForDelete]="noteForDelete"
        (deleteNoteEvent)="deleteNote($event)"
      ></app-confirm-delete-note>
</div>
<button
  class="btn btn-primary btn-lg rounded-circle"
  [ngClass]="{ 'd-none': showForm !== false }"
  style="position: fixed; right: 30px; bottom: 20px; z-index: 100"
  (click)="handleDisplayForm(true)"
>
  <b>+</b>
</button>
