<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <hr />
    <p class="lead">Stack</p>
    <div class="d-none d-lg-block">
      <div class="d-flex justify-content-around align-items-center">
        <a href="https://nestjs.com/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/nestjs.png" alt="NestJS pic" width="150px" />
        </a>
        <span class="display-4">+</span>
        <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
          <img
            src="/assets/images/angular.png"
            alt="Angular pic"
            width="150px"
          />
        </a>
        <span class="display-4">+</span>
        <a
          href="https://www.mongodb.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/images/mongo.png" alt="MongoDB pic" width="200px" />
        </a>
      </div>
    </div>
    <blockquote class="blockquote mt-3">
      <footer class="blockquote-footer">
        <a
          class="mr-1"
          href="https://github.com/LuisManuelGlz/"
          target="_blank"
          rel="noopener noreferrer"
          >Luis Manuel González G.</a
        >
        <cite>Application author.</cite>
      </footer>
    </blockquote>
  </div>
</div>
